.uptime-robot {

  text-align: center;

  .doughnut {
    position: relative;
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }

  .donut-inner {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 65%;
    margin-top: -25%;
    width: 50%;
    height: 30%;
  }

  .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .donut-inner span {
    font-size: 12px;
  }
}